.App {
  padding: 10px;
  margin: 10px;
}

.videos {
margin-bottom: 10px;
}

.card {
  padding: 10px;
}

.badge {
  align-self: center;
  text-align: center;
  width: fit-content;
  margin-bottom: 10px;
}

/* helpers */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  text-align: center;
}

.centered {
  align-items: center;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

